# Dependencies
**/node_modules/
**/.cache/
*.pack

# Build outputs
dist/
build/

# Environment and system files
.env
.env.local
.env.*.local
.DS_Store

# Coverage and test files
coverage/
.nyc_output/
.coveralls.yml

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.env
server/src/config/stripe.ts
